<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Guide Title | Microsoft Docs</title>
  <!--<link rel="stylesheet" href="_themes/styles/interactive-guides.css">-->
  {% style styles/interactive-guides.css %}
</head>

<body>
  <div class="uhf">
    <div class="l0"></div>
    <div class="l1"></div>
  </div>

      {{ content }}

  <script src="../_themes/scripts/interactive-guides.js" data-main="aurelia-bootstrapper"></script>
  <!-- {% js scripts/interactive-guides.js %} -->
</body>

</html>
